API_KEY=your_api_key
CORS_ORIGIN=http://your-frontend-url
JWT_ACCESS_SECRET=<access_secret>
JWT_REFRESH_SECRET=<refresh_secret>

DATABASE_URL="postgresql://user:pass@localhost:5433/db_name?schema=public"
