XUI_NL_HOST=31.207.47.243
XUI_NL_URL=https://31.207.47.243:40175/REXr9IvtJTyfxcO9El
XUI_NL_SUB_URL=https://31.207.47.243:2096
XUI_NL_USERNAME=3Wl0mhJzCj
XUI_NL_PASSWORD=6pdmR3rqEs
XUI_NL_INBOUND_ID=9

XUI_DE_HOST=82.25.39.117
XUI_DE_URL=https://82.25.39.117:29089/q1USkKhyBAuhruhXkT
XUI_DE_SUB_URL=https://82.25.39.117:2096
XUI_DE_USERNAME=N3o4nLmOU0
XUI_DE_PASSWORD=TvGd5epRFi
XUI_DE_INBOUND_ID=1


API_KEY=your_api_key
CORS_ORIGIN=http://your-frontend-url
JWT_ACCESS_SECRET=<access_secret>
JWT_REFRESH_SECRET=<refresh_secret>

DATABASE_URL="postgresql://user:pass@localhost:5433/db_name?schema=public"
