XUI_NL_HOST=
XUI_NL_URL=
XUI_NL_SUB_URL=
XUI_NL_USERNAME=
XUI_NL_PASSWORD=
XUI_NL_INBOUND_ID=

XUI_DE_HOST=
XUI_DE_URL=
XUI_DE_SUB_URL=
XUI_DE_USERNAME=
XUI_DE_PASSWORD=
XUI_DE_INBOUND_ID=

API_KEY=<api_key>
CORS_ORIGIN=<frontend_url>
DATABASE_URL="postgresql://user:pass@IP/db_name"
JWT_ACCESS_SECRET=<jwt_acc_secret>
JWT_REFRESH_SECRET=<jwt_ref_secret>

HELEKET_MERCHANT_ID=<merchant_id>
HELEKET_API_KEY=<heleket_api>

MAILCHIMP_API_KEY=<mailchimp_key>